<component name="ArtifactManager">
  <artifact type="war" name="springmvc_12_interceptor:war">
    <output-path>$PROJECT_DIR$/springmvc_12_interceptor/target</output-path>
    <properties id="maven-jee-properties">
      <options>
        <module>springmvc_12_interceptor</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="archive" name="springmvc_12_interceptor-1.0-SNAPSHOT.war">
      <element id="artifact" artifact-name="springmvc_12_interceptor:war exploded" />
    </root>
  </artifact>
</component>