<?xml version="1.0" encoding="utf-8"?>

<beans>
    <bean id="userBasicDAO" class="com.madao.qqzone.dao.impl.UserBasicDAOImpl"/>
    <bean id="topicDAO" class="com.madao.qqzone.dao.impl.TopicDAOImpl"/>

    <bean id="userBasicService" class="com.madao.qqzone.service.impl.UserBasicServiceImpl">
        <property name="userBasicDAO" ref="userBasicDAO"/>
    </bean>

    <bean id="topicService" class="com.madao.qqzone.service.impl.TopicServiceImpl">
        <property name="topicDAO" ref="topicDAO"/>
    </bean>


</beans>
